[Unit]
Description=vsftpd
After=network.target

[Service]
User=root
ExecStart=/usr/local/sbin/vsftpd /etc/vsftpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
