<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<header>
			<h1>Real World Pentesting Labs</h1>
			<a href="/">ホーム</a>
			<a href="./app">テストアプリ</a>
		</header>

		<h1>RWPLのセキュアなサイト</h1>
		<div>このサイトは絶対にハッキングされない自信がある！</div>
		<h1>私たちのビジョン</h1>
		<div>リアルワールドのハッキングを学習したいんだ！</div>
		<div src="info">
			<h2>イノベーション</h2>
			<div>私たちは技術の進化を受け入れ、新たな脅威に先手を打つために、常に手法を改良しています。</div>
			<h2>誠実さ</h2>
			<div>倫理的な業務遂行への献身が、当社のサービスの基盤となっています。信頼が何よりも重要です。</div>
			<h2>共同作業</h2>
			<div>当社は、セキュリティの枠を超えたパートナーシップを育み、お客様と協力しながら、お客様のデジタル基盤を強化しています。</div>
			<h2>グローバルインパクト</h2>
			<div>サイバーセキュリティにおけるグローバルなリーダーとして、当社はセキュリティ基準の向上を目指し、デジタル領域をすべての人にとってより安全なものにしていきます。</div>
		</div>

		<footer>
			<div>Real World Pentesting Labs</div>
			<div>住所: XXXX XXX XXXX XXX XXXXXX XXXXXXXXXXXXX</div>
			<div>Phone: +00 00 0000 0000</div>
		</footer>
	</body>
</html>